task1/overdue_payments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cred_id" type="xs:integer" />
              <xs:element name="overdue" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" />
          </xs:complexType>
        </xs:element>
</xs:schema>